.btn-purple{
    background: #c200c2;
    border-color: #c200c2;
    color: white;
}
.btn-lime{
    background: #15cb15;
    border-color: #15cb15;
    color: white;
}
#lhframe{
    height: 300px;
    width: 400px;
}
#header-row{
    height: 50px;
    width: 400px;
}
#login-heading{
    color: #5099da;
}
#login-gaprow{
    height: 20px;
}
#loginrow-oben{
    height: 50px;
}#loginrow-unten{
    height: 30px;
}
.loginframe{
    height: 250px;
    width: 400px;
    border-radius: 1rem;
}
.loginrow{
    height: 50px;
}
.logininput{
    width: 100%;
}
.login-center{
    top: 50%;
    margin: 0;
    position: fixed;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.center {
    top: 50%;
    margin: 0;
    position: fixed;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

.login {
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 16px;
    padding: 5px;
    border-radius: 5px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    background: rgb(28, 110, 164);
    border: 2px solid rgb(28, 110, 164);
}

.login:hover {
    background: #1C6EA4;
    cursor: pointer;
}

.login:active {
    background: #144E75;
}

.login::selection {
    background-color: transparent;
}

.button {
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 16px;
    padding: 5px;
    border-radius: 5px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    background: rgb(28, 110, 164);
    border: 2px solid rgb(28, 110, 164);
}

.tabelle {
    width: 65%;
}

.tabelleAusweis {
    width: 25%;
}

.tabelleIcons {
    width: 5%;
}

.plus-icon-div {
    height: 40px;
}

.tabelleStatus {
    width: 45%;
}

#suchcontainer {
    width: 25%;
}

#suchelement-row {
    height: 60px;
}

#suchelement-col {
    top: 19%;
    position: relative;
}

#suchbutton-row {
    height: 45px;
}
#nichtAzubi-plus-rowheight{
    height: 40px;
}
.cursor-pointer{
    cursor: pointer;
}